/public/*
/node_modules/*
/routes/dbConnect.js
/routes/config/dbConfig.json
/log.txt
ui/node_modules/*
public/
node_modules/
backup/
cronjob/config.json
uploads/
/routes/config/{
routes/services/kantar.json
routes/services/validkantar.json
routes/services/{
routes/v1/upload/json1.json
routes/v1/upload/json2.json
routes/config/dbCofig.json
.DS_Store
