

div.profilePicture{
    height: 99%;
    width: 60%;
    background-color: springgreen;
    margin-left: -2%;
    margin-top: -3%;
}

div.cancel{
    margin-top: -2%;
    margin-left:98.5%;
}
div.cancel .cancelBtn{
    background-color:#f28500;

}

div.change{
    margin-top: -4.7%;
    margin-left:-1.95%;
    
}
.submitBtn{
    border: none;
    outline: none;
    color: ghostwhite;
    font-size: 120%;
    font-weight: 100;
    padding: 1px 274px;
    background-color: inherit;
    font-family: inherit;
    height: 48px;
    border-radius: 0%;
    box-shadow: -2px 0px inherit;
    position: relative;
}
div.change:hover .submitBtn{
    background:rgba(62, 110, 72, 0.459);
    height: 48px;
    color: #f28500;

}

div.leftShift{
    margin-top: -54.5%;
    margin-left:-1.95%;
    
}
.leftBtn{
    border: none;
    outline: none;
    color: ghostwhite;
    font-size: 220%;
    font-weight: 100;
    padding: 1px 27px;
    background-color: inherit;
    font-family: inherit;
    height: 550px;
    border-radius: 0%;
    box-shadow: -2px 0px inherit;
    position: relative;
}

div.leftShift:hover .leftBtn {
    background:rgba(62, 110, 72, 0.459);
    height: 550px;
    color: #f28500;
}


div.rightShift{
    margin-top: -54.5%;
    margin-left:51%;
    
}
.rightBtn{
    border: none;
    outline: none;
    color: ghostwhite;
    font-size: 220%;
    font-weight: 100;
    padding: 1px 27px;
    background-color: inherit;
    font-family: inherit;
    height: 550px;
    border-radius: 0%;
    box-shadow: -2px 0px inherit;
    position: relative;
}

div.rightShift:hover .rightBtn {
    background:rgba(62, 110, 72, 0.459);
    height: 550px;
    color: #f28500;
}