


<div class="company_details "><br>
    <div class="p_add">
        <p style="margin-left:-2%; color:#f28500; font-size:150%; font-weight:bold"> Add Workspace </p>
    </div>
    <div class="add_button">
        <ul><button abled="abled" class="button"> + Add</button></ul>
    </div>
    <hr>
    
    <div class="p_add">
        <p style="margin-left:-2%; color:#f28500; font-size:150%; font-weight:bold"> Add Educations </p>
    </div>
    
    <div class="add_button">
            <ul><button abled="abled" class="button"> + Add</button></ul>
    </div>
    <hr>

    <div class="p_add">
        <p style="margin-left:-7%; color:#f28500; font-size:150%; font-weight:bold"> Resume Attachment </p>
    </div>
        
    <div class="add_button">
        <ul><button abled="abled" class="button"> + Add</button></ul>
    </div>
    <hr>

    <div class="p_add">
        <p style="margin-left:-20%; color:#f28500; font-size:150%; font-weight:bold">Any additional achievements </p>
    </div>
        
    <div class="add_button">
        <ul><button abled="abled" class="button"> + Add</button></ul>
    </div>
    <hr>

    <div class="p_add">
        <p style="margin-left:10%; color:#f28500; font-size:150%; font-weight:bold"> Skills </p>
    </div>
        
    <div class="add_button">
        <ul><button abled="abled" class="button"> + Add</button></ul>
    </div>
    <hr>
    
    <div class="p_add">
        <p style="margin-left:7%; color:#f28500; font-size:150%; font-weight:bold">Articles </p>
    </div>
        
    <div class="add_button">
        <ul><button abled="abled" class="button"> + Add</button></ul>
    </div>
    <hr>

    <!--         
    <div class="d_fc_details navbar">
        
        <form class="form" class="fc_details">
            <input type="text" class="form-control" placeholder="Designation"/><br>
            <input type="text" class="form-control" placeholder="Company Name"/>

        </form>
    </div> -->

</div>

