
    <title> Professional Exclusions</title>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>


    <body style="background:#E6E6FA">
        <nav class="navbar navbar-expand-lg navbar-light nav_bar_border">
            <img src="/assets/images/proex.svg" height="100px" width="100px" style="margin-top:1%; margin-left:5%"/>
            <div class="dropdown" style="margin-top:1%; margin-left:10%; font-size:120%;color:azure">
                    <button class="dropbtn" >Product</button>
                    <div class="dropdown-content">
                      <a href="#">Twelnet</a>
                      <a href="#">PxCode</a>
                      <a href="#">xTerminal</a>
                    </div>
                  </div>            

            <form class="form-inline" style="margin-left:25%;margin-top:1%">
                <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="email">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password">
                <button class="btn btn-primary my-2 my-sm-0" type="submit" style="background-color:rgba(33, 132, 150, 0.678); color:#f28500">Login</button>
            </form>
            <a class="signup_form" style="margin-top:1%; margin-left:5%; font-size:150%;color:#f28500"  routerLink='register'>Register</a>
            
        </nav>
        
        

        
        <div class="footer" style="margin-top:-1.5%; background:rgba(22, 77, 33, 0.9);height:300px">
            
            <table class = "col tble" style=" margin-left:10%; margin-top:-10%">
                <thead>
                    <tr >
                        <th><h1 style="font-size:200%; font-weight:bold; color:#e69d44f8"><u>Services</u></h1></th>
                        <th ><h1 style="font-size:200%; font-weight:bold; color:#e69d44f8"><u>Products</u></h1></th>
                        <th ><h1 style="font-size:200%; font-weight:bold; color:#e69d44f8"><u>About ProEx</u></h1></th>
                        <th ><h1 style="font-size:200%; font-weight:bold; color:#e69d44f8"><u>Contact Us</u></h1></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p style="color:azure" >Advertisings</p></td>
                        <td><p style="color:azure" routerLink='twelnet' >Twelnet</p></td>
                        <td><p style="color:azure" >Team</p></td>
                        <td><p style="color:azure" >sir.ayaz47@gmail.com</p></td>  

                        
                    </tr>
                    <tr>
                        <td><p style="color:azure" >Zudoov AI Tool</p></td>
                        <td><p style="color:azure" routerLink='pxcode'>PxCode</p></td>
                        <td><p style="color:azure" >Developers</p></td>
                        <td><p style="color:azure" ></p></td>
                    </tr>
                    <tr>
                        <td><p style="color:azure" >Scheduler</p></td>                        
                        <td><p style="color:azure" >PxVlog</p></td>
                        <td><p style="color:azure" >Pricing Tags</p></td>
                        <td><p style="color:azure" ></p></td>                        
                        
                    </tr>
                    <tr>
                        <td><p style="color:azure" ></p></td>                        
                        <td><p style="color:azure" ></p></td>
                        <td><p style="color:azure" ></p></td>
                        <td><p style="color:azure" ></p></td>                        
                        
                    </tr>

                </tbody>
            </table>
                    
        </div>



    </body>