

<!-- Experiences of Jobseekers -->
<mat-card-header id="expHeader">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>C++ Software Engineer  </mat-card-title>
    <mat-icon class="editExperience" (click)='createExperience()'>border_color</mat-icon>
    <mat-card-subtitle>
        <span class="orgName">{{'Erwin pvt ltd '}}</span>  
        <span class="startDate">{{'17/01/2016'}}</span>
        <span class="lastDate">{{'Present'}}</span> 
    </mat-card-subtitle>
</mat-card-header>
<!-- <mat-card-content *ngIf = "is_expContent_visible" id="expContent"> -->
<mat-card-content id="expContent">
    <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
    </p>
</mat-card-content>
