    
     <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
            <script src="http://code.jquery.com/jquery-latest.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        </head>
    
    
        <body style="background:#E6E6FA">
            <nav class="navbar navbar-expand-lg navbar-light nav_bar_border">
                <img src="/assets/images/proex.svg" height="100px" width="100px" style="margin-top:1%; margin-left:5%"/>
                <!-- <a class = "product" style="margin-top:2%; margin-left:10%; font-size:120%;color:azure" href = "" >Products</a> -->
                <div class="dropdown" style="margin-top:1%; margin-left:10%; font-size:120%;color:azure">
                        <button class="dropbtn" >Product</button>
                        <div class="dropdown-content">
                          <a href="#">Twelnet</a>
                          <a href="#">PxCode</a>
                          <a href="#">xTerminal</a>
                        </div>
                      </div>            
                    
                
                <form class="form-inline" style="margin-left:25%;margin-top:1% ">
                    <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="email">
                    <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password">
                    <a routerLink='profile'><button class="btn btn-primary my-2 my-sm-0" type="submit" style="background-color:rgba(33, 132, 150, 0.678)">Login</button></a>
                </form>
    
                <a class="signup_form" style="margin-top:1%; margin-left:5%; font-size:150%;color:#f28500"  routerLink='register'>Register</a>
                
            </nav>

            <div class="navbar navbar-expand-lg navbar-light thunder_thread" >
                <div class="register" style="margin-top:0%"  >
                    <p class="select_profiles">Job Seeker's Account </p><hr>
                    <form class="form" >
                        <input class="form-control mr-sm-2" type="text" placeholder="First name" aria-label="First name" style="size:10px" name='Firstname' [(ngModel)]='Job_Seeker.Firstname'/><br>
                        <input class="form-control mr-sm-2" type="text" placeholder="Last name" aria-label="Last name" name = "Lastname" [(ngModel)]='Job_Seeker.Lastname' /><br>
                        <input class="form-control mr-sm-2" type="email" placeholder="example@gmail.com" aria-label="email" name='Email' [(ngModel)]='Job_Seeker.Email' /><br>
                        <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password" name='Password' [(ngModel)]='Job_Seeker.Password' /><br>
                        <input class="form-control mr-sm-2" type="password" placeholder="Re-confirm Password" aria-label="password" name='Repassword' [(ngModel)]='Job_Seeker.Repassword' /><br>
                        <input class="form-control mr-sm-2" type="text" placeholder="Nationality" aria-label="Nationality" style="size:10px" name='Nationality' [(ngModel)]='Job_Seeker.Nationality' /><br>
                        <input class="form-control mr-sm-2" type="text" placeholder="Contact Number" aria-label="Contact Number" name='ContactNumber' [(ngModel)]='Job_Seeker.ContactNumber' /><br>
                        <select class="form-control" id = "gender" >
                            <option name = "male">Male</option>
                            <option name ="female">Female</option>
                        </select><br>
                        <button class="btn btn-primary my-2 my-sm-0 signup_button" type="submit" (click)='onSubmit()' style="background-color:rgba(33, 132, 150, 0.678)">SignUp</button>
                    </form>
                </div>
            </div>
    
            <div class="navbar navbar-expand-lg navbar-light" style="margin-bottom:0%; background:rgba(22, 77, 33, 0.9);height:200px">
            
                    <table class = "col " style=" margin-left:10%; margin-top:-5%">
                        <thead>
                            <tr >
                                <th ><h1 style="font-size:200%; font-weight:bold; color:#f28500"><u>Products</u></h1></th>
                                <th ><h1 style="font-size:200%; font-weight:bold; color:#f28500"><u>ProEx</u></h1></th>
                                <th ><h1 style="font-size:200%; font-weight:bold; color:#f28500"><u>UnionStack</u></h1></th>
                                <th ><h1 style="font-size:200%; font-weight:bold; color:#f28500"><u>Contact Us</u></h1></th>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr>
                                <td><a style="color:azure" routerLink='twelnet' >Twelnet</a></td>
                                <td><a style="color:azure" routerLink="team" >Team</a></td>
                                <td><a style="color:azure" >>>Programmings</a></td>
                                <td><a style="color:azure" >sir.ayaz47@gmail.com</a></td>  
                            </tr>
                            <tr>
                                <td><a style="color:azure" routerLink='pxcode'>PxCode</a></td>
                                <td><a style="color:azure" >Developers</a></td>
                                <td><a style="color:azure" >>>Articles</a></td>
                                <td><a style="color:azure" ></a></td>
                            </tr>           
                            <tr>
                                <td><a style="color:azure" >xTerminal</a></td>
                                <td><a style="color:azure" >Pricing Tags</a></td>
                                <td><a style="color:azure" ></a></td>
                                <td><a style="color:azure" ></a></td>                        
                                
                            </tr>
                            
                            <tr>
                                <td><a style="color:azure" ></a></td>                        
                                <td><a style="color:azure" >PxVlog</a></td>
                                <td><a style="color:azure" ></a></td>
                                <td><a style="color:azure" ></a></td>
                                <td><a style="color:azure" ></a></td>                        
                                
                            </tr>
        
                        </tbody>
        
                    </table>
                            
                </div>
            